@model Sem3EProjectOnlineCPFH.Models.Auth.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayoutPage.cshtml";
}

<div class="container d-flex align-items-center flex-column mt-5">
    @*<img src="@Url.Content(ViewBag.WebIcon)" class="" style="height: 70px; width: 70px; border-radius: 100%;" alt="Web Icon" onerror="console.log('Image not found:', this.src)" />*@
    <h3 class="text-center mt-2">Login To @ViewBag.WebsiteName</h3>
    <div class="card p-4 mt-4" style="max-width: 400px; width: 100%;">
        @if (Request.QueryString["disabled"] != null)
        {
            <div class="alert alert-danger">Your account has been disabled. Please contact the administrator for more information.</div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
        {
            @Html.AntiForgeryToken()

            <div class="mb-3">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.RememberMe, "Remember Me", new { @class = "form-check-label" })
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        }
    </div>
</div>
