@model Sem3EProjectOnlineCPFH.Models.Auth.RegisterViewModel

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_AccountLayoutPage.cshtml";
}

<div class="container d-flex align-items-center flex-column mt-5">
    @*<img src="@Url.Content(ViewBag.WebIcon)" style="height: 70px; width: 70px; border-radius: 100%;" alt="Web Icon" onerror="console.log('Image not found:', this.src)" />*@
    <h3 class="text-center mb-4 mt-2">Create First Account</h3>
    <div class="alert alert-danger" style="text-align:center">!Important, this is the first time accessing the system, this account will be granted administrative rights. Please be very careful, after successfully creating an account, you will not be able to access this page again.</div>
    <div class="card p-4" style="max-width: 400px; width: 100%;">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Enter first name", required = "required" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Enter last name", required = "required" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", placeholder = "Enter email", required = "required", autocomplete = "username" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.PhoneNumber, "Phone Number", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Enter phone number", required = "required" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter password", required = "required", autocomplete = "new-password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", new { @class = "form-label" })
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password", required = "required", autocomplete = "new-password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        }
    </div>
</div>